@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'BuiltTilting';
    src: url('assets/fonts/Built Tilting/built titling bd copy.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BuiltTilting';
    src: url('assets/fonts/Built Tilting/built titling sb copy.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'BuiltTilting';
    src: url('assets/fonts/Built Tilting/built titling rg copy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BuiltTilting';
    src: url('assets/fonts/Built Tilting/built titling lt copy.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'IntegralCF';
    src: url('assets/fonts/Integral CF/IntegralCF-Bold copy.otf') format('opentype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'IntegralCF';
    src: url('assets/fonts/Integral CF/IntegralCF-Medium copy.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'IntegralCF';
    src: url('assets/fonts/Integral CF/IntegralCF-Regular copy.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}